@page "/test-people"
@rendermode InteractiveAuto
@using BlazorApp.Client.Abstractions.Models
@using BlazorApp.Client.Models
@using BlazorApp.Client.Services

<PageTitle>Person Printer Test</PageTitle>

<h1 style="display: inline-block; padding-right: 10px">Person Printer Test</h1>

<button class="btn btn-sm btn-primary mb-3" @onclick="PrintNames">Print Names</button>

@if (!string.IsNullOrWhiteSpace(result))
{
    <div class="alert alert-primary" style="margin-top: 10px">
        <p class="mt-3" style="white-space: pre-line">
            @result
        </p>
    </div>    
}
else 
{
    <div class="alert alert-primary" style="margin-top: 10px">
        <p class="mt-3">Press print to display data.</p>
    </div>  
}

@code {
    private string result = string.Empty;

    private void PrintNames()
    {
        var people = new List<IPerson>
        {
            new Employee { Name = "George Bourazanis, data 1" },
            new Manager { Name = "George Bourazanis, data 2" }
        };

        var service = new PersonServices();

        result = string.Join('\n', people.Select(service.PersonPrinter));
    }
}